/* ------------larger device------------------ */
@media (min-width: 577px) and (max-width: 768px) {
  .container {
    width: 95%;
  }
  .row > * {
    width: 100%;
  }
  .list {
    display: none;
  }
  .head-cont{
    width:70%;
  }
  .head-getstarted{
    width:30%;
  }
  .banner-content h1 {
    font-size: 28px;
  }
  .logo{
    padding:10px;
  }
  .no-pic {
    display: none;
  }
  .sub{
    padding-top:30px;
  }

  .service-large,
  .price-pic1,
  .last-sec1,
  .team-sec1,
  .service-sec1,
  .portfolio-sec1 {
    width: 50%;
  }
  .client-pic {
    width: 25%;
  }
  .faq-ques {
    padding: 10px;
  }
  .faq-list {
    padding: 0px;
  }
  .addedspace {
    /* padding: 10px; */
    margin:15px;
  }
  .edit .fa {
    display: flex;
    justify-content: center;
    padding: 0px;
  }
}


/* --------- mobile view ----------------- */
@media all and (max-width: 576px) {
  .container {
    width: 100%;
  }
  .row > * {
    width: 100%;
  }
  .list {
    display: none;
  }
  .banner-content h1 {
    font-size: 28px;
  }
  .space {
    padding: 10px;
  }
  .info-btn {
    display: none;
  }
  .contact-info {
    padding: 0px;
  }
  .about-cont .p1 {
    padding: 0px;
  }
  .small-box .fa {
    padding-left: 150px;
  }
  .faq-list {
    padding: 0px;
  }
  .faq-ques {
    padding: 0px;
  }
  .footer-icon {
    padding: 30px;
  }
  .col-sm-6 {
    width: 50%;
  }
  .temp {
    display: none;
  }
  .addedspace {
    margin-top: 18px;
  }
  .name {
    width: 100%;
  }
  .name-email {
    display: flex;
    flex-wrap: wrap;
  }
}
