/* --------- mobile view ----------------- */
@media all and (max-width: 576px) {
  .container {
    width: 100%;
  }
  .row > * {
    width: 100%;
  }
  .list {
    display: none;
  }
  .banner-content h1 {
    font-size: 28px;
  }
  .space {
    padding: 10px;
  }
  .info-btn {
    display: none;
  }
  .contact-info {
    padding: 0px;
  }
  .about-cont .p1 {
    padding: 0px;
  }
   .edit .fa {
    display: flex;
    justify-content: center;
    padding: 0px;
  }
  .faq-list {
    padding: 0px;
  }
  .faq-ques {
    padding: 0px;
  }
  .footer-icon {
    padding: 30px;
    justify-content:center;
  }
  .footer-sec p{
text-align: center;
  }
  .col-sm-6 {
    width: 50%;
  }
  .temp {
    display: none;
  }
  .addedspace {
    margin-top: 18px;
  }
  .name {
    width: 100%;
  }
  .name-email {
    display: flex;
    flex-wrap: wrap;
  }
}

/* ------------small device------------------ */
@media (min-width: 577px) and (max-width: 768px) {
  .container {
    width: 90%;
  }
  .row > * {
    width: 100%;
  }
  .list {
    display: none;
  }
  .head-cont{
    width:70%;
  }
  .head-getstarted{
    width:30%;
  }
  .banner-content h1 {
    font-size: 28px;
  }
  .logo{
    padding:10px;
  }
  .no-pic {
    display: none;
  }
  .sub{
    padding-top:30px;
  }

  .service-large,
  .price-pic1,
  .last-sec1,
  .team-sec1,
  .service-sec1,
  .portfolio-sec1 {
    width: 50%;
  }
  .client-pic {
    width: 25%;
  }
  .faq-ques {
    padding: 10px;
  }
  .faq-list {
    padding: 0px;
  }
   .footer-icon {
    padding: 30px;
    justify-content:center;
  }
  .footer-sec p{
text-align: center;
  }
  .addedspace {
    /* padding: 10px; */
    margin:15px;
  }
  .edit .fa {
    display: flex;
    justify-content: center;
    padding: 0px;
  }
}

/* ---------------medium device--------------------------- */
@media(min-width: 769px) and (max-width: 992px) {
  .container {
    width: 85%;
  }
  .row > * {
    width: 100%;
  }
  .list {
    display: none;
  }
  .head-cont{
    width:70%;
  }
  .team-pictures{
    margin-bottom:20px;
  }
  .head-getstarted{
    width:30%;
  }
  .service-sec1, .service-large, .portfolio-sec1, .team-sec1, .price-pic1, .last-sec1{
    width:50%;
  }
  .small-box{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .small-box .fa{
    padding-left:0px;
  }
  .addedspace{
    margin:10px;
}
 .footer-icon {
    padding: 30px;
    justify-content:center;
  }
  .footer-sec p{
text-align: center;
  }
.client-pic{
  width:25%;
}
.no-pic{
  display: none;
}
}


/* --------- large------------------- */
@media(min-width: 992px) and (max-width: 1200px) {
  .container {
    width: 95%;
  }
  .row > * {
    width: 100%;
  }
  .head-cont{
    width:70%;
  }
  .head-getstarted{
    width:30%;
  }
  .alignment{
    align-items: flex-start !important;
  }
  .addedspace{
    margin-top: 20px;
  }
  .big-align{
    width:40%;
  }
  .small-align{
    width:60%;
  }
  .portfolio-sec1, .service-sec1{
    width:33%;
  }
  .team-sec1, .price-pic1, .last-sec1{
    width:25%;
  }
  .footer-sec, .service-large{
    width:50%;
  }
  .client-pic{
    width: 16%;
  }
  .header1{
    width:20%;
  }
  .header2{
    width:80%;
  }
  .abt1{
    width:40%;
  }
  .abt2{
    width:60%;
  }
  .about-img{
    height:650px;
  }
  .contact1{
    width:33%;
  }
   .edit .fa {
    display: flex;
    justify-content: center;
    padding: 0px;
  }
}

/* ------------------extra large---------------------------- */
@media(min-width: 1201px) and (max-width: 1400px) {
  .container {
    width: 90%;
  }
}