:root {
  --primary: #00bcd4;
  --Secondary: #333333;
}

.container {
  width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.row > * {
  width: 100%;
  padding: 0 15px;
}
.col-lg-1 {
  width: 8.33%;
}
.col-lg-2 {
  width: 16.66%;
}
.col-lg-3 {
  width: 25%;
}
.col-lg-4 {
  width: 33.33%;
}
.col-lg-5 {
  width: 41.66%;
}
.col-lg-6 {
  width: 50%;
}
.col-lg-7 {
  width: 58.33%;
}
.col-lg-8 {
  width: 66.66%;
}
.col-lg-9 {
  width: 75%;
}
.col-lg-10 {
  width: 83.33%;
}
.col-lg-11 {
  width: 91.66%;
}
.col-lg-12 {
  width: 100%;
}
.display-flex {
  display: flex;
}
.justify-start {
  justify-content: flex-start !important;
}
.justify-end {
  justify-content: flex-end !important;
}
.justify-center {
  justify-content: center !important;
}
.justify-space-around {
  justify-content: space-around !important;
}
.justify-space-between {
  justify-content: space-between !important;
}
.justify-evenly {
  justify-content: space-evenly !important;
}

.align-item-start {
  align-items: flex-start !important;
}
.align-item-end {
  align-items: flex-end !important;
}
.align-item-center {
  align-items: center !important;
}
.align-item-baseline {
  align-items: baseline !important;
}
.align-item-stretch {
  align-items: stretch !important;
}
.text-align-right {
  text-align: right !important;
}
.text-align-left {
  text-align: left !important;
}
.text-align-center {
  text-align: center !important;
}
.text-align-justify {
  text-align: justify !important;
}
/*=====header section======*/
.header-top {
  background-color: #fff;
  border-bottom: solid 1px white;
}
.header-info {
  background-color: #39312f;
  /* padding:5px 0; */
}
.contact-info {
  color: white;
  padding-top: 14px;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
}
.contact-info .fa {
  color: var(--primary);
  margin-right: 5px;
}
.contact-info a {
  text-decoration: none;
  color: white;
  margin-right: 20px;
}
.info-btn {
  background-color: var(--primary);
  padding: 12px;
  display: inline-block;
  text-align: right;
}
.info-btn a {
  color: white;
  text-decoration: none;
}
.nav-section {
  padding: 5px 0;
}
.logo {
  padding-top: 20px;
}
.logo a {
  color: #635551;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}
.dropdown {
  position: relative;
}
.dropdown .drop-link {
  position: absolute;
  top: 80px;
  left: 0px;
  display: inline-block;
  background-color: white;
  width: 160px;
  border-radius: 5px;
  box-shadow: 0 0 5px -3px black;
  transition: all 0.2s ease;
  opacity: 0;
  visibility: hidden;
}
.dropdown:hover .drop-link {
  position: absolute;
  top: 40px;
  opacity: 1;
  visibility: visible;
}
.navbar {
  text-decoration: none;
}
.list {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0;
}
.list li {
  display: inline-block;
}
.list .l1 {
  color: var(--primary);
  display: inline-block;
}
.list a {
  text-decoration: none;
  color: #635551;
  display: block;
  padding: 10px 15px;
}
.list a:hover {
  color: var(--primary);
}
/*----------------------banner-section starts------------*/
.banner-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url("../images/hero-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 220px 0;
}
.banner-content h1 {
  font-size: 50px;
  font-family: "Raleway", sans-serif;
  margin-bottom: 15px;
  color: white;
}
.banner-content p {
  font-size: 20px;
  margin-bottom: 40px;
  color: #eee;
  font-family: "Raleway", sans-serif;
}
.button {
  display: inline-block;
  background-color: var(--Secondary);
  padding: 10px 30px 10px 40px;
}
.bnr-button {
  position: relative;
  display: inline-block;
  padding: 20px;
}
.bnr-button .fa {
  position: absolute;
  top: 10px;
  left: 6px;
  background-color: var(--primary);
  border-radius: 50%;
  padding: 18px;
  height: 50px;
  color: white;
}
.bnr-button a {
  text-decoration: none;
  color: white;
  padding-left: 50px;
  transition: all 0.3s ease;
  border-radius: 25px;
  font-size: 15px;
}
.bnr-button a:hover {
  background-color: var(--primary);
  color: white;
}
/* ########   Big Box Style   ######### */

.banner-boxes {
  /* padding: 20px 0; */
  position: relative;
  top: -160px;
}
.big-box {
  background-color: var(--primary);
  padding: 26px;
  color: white;
  border-radius: 10px;
}
.big-box h1 {
  font-size: 32px;
  padding-top: 22px;
  color: white;
  font-family: "Raleway", sans-serif;
  line-height: 1.2;
}
.big-box p {
  font-size: 16px;
  padding-top: 26px;
  line-height: 1.4;
  padding-bottom: 50px;
  font-family: "Open Sans", sans-serif;
}
.big-box a {
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 auto;
  padding: 12px 25px;
  border-radius: 20px;
  color: white;
  /* padding-top:10px; */
  width: 50%;
  text-decoration: none;
}
.big-box a:hover {
  background-color: white;
  color: var(--primary);
  text-decoration: none;
}
.small-box {
  background-color: white;
  padding: 42px 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px #ccc;
  height: 100%;
}
.small-box h2 {
  text-align: center;
  padding: 22px 16px;
  line-height: 1.2;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}
.small-box p {
  text-align: center;
  padding: 18px 10px;
  line-height: 1.3;
  color: #716f6f;
  font-family: "Open Sans", sans-serif;
}
.small-box .fa {
  font-size: 36px;
  padding-left: 96px;
  color: var(--primary);
}
/* ########  About Style  ########### */

.about-section {
  /* padding: 80px 0; */
  background-color: #f8feff;
}

.about-img {
  background-image: url("../images/about-img.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-img i {
  border: 1px solid var(--primary);
  border-radius: 50%;
  background-color: var(--primary);
  padding: 24px;
  font-size: 25px;
  color: white;
}
.about-content {
  padding: 40px 10px;
  color: var(--Secondary);
}
.about-content .para1 {
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: #635551;
}

.about-content h1 {
  margin-bottom: 20px;
  font-size: 30px;
  font-family: "Raleway", sans-serif;
}
.about-content .para2 {
  font-size: 17px;
  line-height: 1.4;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 20px;
}

.sub a {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: black;
  font-size: 18px;
}
.sub a:hover {
  color: var(--primary);
}
.sub p {
  margin-bottom: 40px;
  line-height: 1.4;
  padding-right: 44px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  padding-top: 14px;
  font-size: 14px;
}
.sub1 {
  display: flex;
  gap: 20px;
  padding: 12px;
}
/* .sub:hover i{ */
/* color:white; */
/* } */
.sub1:hover .icon {
  background-color: var(--primary);
  color: white;
}
.icon {
  font-size: 40px;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid var(--primary);
  color: var(--primary);
  width: 60px;
  height: 60px;
  background-color: white;
}
/* ###########   Client Logo Style   ########## */

.client-logo-sec {
  padding: 80px 0;
}

.client-logo {
  height: auto;
  width: 120px;
}
.client-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  filter: grayscale(100%);
}
.client-logo img:hover {
  filter: none;
  opacity: 1;
}
.col-items {
  width: 200px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.col-items span {
  height: 10px;
  width: 10px;
  border: 1px solid var(--primary);
  border-radius: 50%;
}
.col-items span:hover {
  background-color: var(--primary);
}
.about-span span:first-child {
  background-color: var(--primary);
}
.col-items span:first-child {
  background-color: var(--primary);
}

/* #################   Service Style    ##################### */

.service-section {
  background-color: #f8feff;
  padding: 80px 0;
}

.section-title {
  text-align: center;
}
.section-title p {
  margin-bottom: 20px;
  line-height: 1.4;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
.section-title h2 {
  margin-bottom: 20px;
  letter-spacing: 2px;
  font-size: 32px;
  color: #635551;
}

.service-items {
  text-align: center;
  margin-top: 60px;
  box-shadow: 0 0 10px #ccc;
  padding: 20px;
  position: relative;
  padding-top: 50px;
  background-color: white;
}
.service-items a {
  margin-bottom: 30px;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.service-items p {
  padding: 20px 0px;
  line-height: 1.3;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: var(--Secondary);
}
.service-items:hover a {
  color: var(--primary);
}
.service-items:hover i {
  color: var(--primary);
}
.service-items:hover .si-icon {
  background-color: white;
}
.si-icon {
  position: absolute;
  top: -30px;
  left: 50%;
  border-radius: 50%;
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: white;
  width: 60px;
  height: 60px;
  /* padding: 14px; */
  text-align: center;
  line-height: 60px;
  font-size: 30px;
  transform: translate(-50%);
}
.si-icon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid var(--primary);
  background-color: var(--primary);
  z-index: -1;
  transition: all 0.2s ease;
}
.service-items:hover .si-icon::after {
  transform: scale(1.1);
  background-color: white;
}

/*-------------------------------service section----------------------------*/
.service-pic {
  padding: 50px 0;
}
.pictures {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 150px 20px 20px 20px;
  margin-top: 60px;
  border-radius: 10px;
}
.pic1 {
  background-image: url("../images/values-1.jpg");
}
.pic2 {
  background-image: url("../images/values-2.jpg");
}
.pic3 {
  background-image: url("../images/values-3.jpg");
}
.pic4 {
  background-image: url("../images/values-4.jpg");
}

.pic-content {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
}
.pic-content h3 {
  text-align: center;
  font-family: "Raleway", sans-serif;
}
.pic-content p {
  padding: 20px;
  line-height: 1.4;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: var(--Secondary);
}
.pic-content a {
  text-decoration: none;
  padding: 20px;
  color: var(--Secondary);
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
.pictures:hover .pic-content {
  color: white;
  background-color: var(--primary);
}
.pic-content a:hover {
  text-decoration: underline;
  color: white;
}
.pictures:hover a {
  color: white;
}
.pictures:hover p {
  color: white;
}
/*--------------pictures section ends--------------*/

.about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url("../images/testimonials-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 80px 10px 100px;
}
.about img {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  border: 6px grey solid;
}
.about-cont {
  text-align: center;
  line-height: 1.4;
  color: white;
}
.about-cont h3 p {
  font-family: "Raleway", sans-serif;
}

.about-cont .p1 {
  padding: 0px 125px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #eee;
}
.about-cont .fa {
  color: grey;
  font-size: 22px;
}
.about-span {
  width: 150px;
  height: auto;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 0 auto;
  margin-top: 45px;
}
.about-span span {
  display: inline-block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #aea6a6;
}

/*-----------------about section ends---------------------------------------*/

.portfolio {
  padding: 50px 0;
}
.portfolio-head {
  text-align: center;
  padding: 20px;
}
.portfolio-head h2 {
  margin-bottom: 20px;
  color: #635551;
  font-size: 30px;
}
.portfolio-head p {
  margin-bottom: 20px;
  line-height: 1.4;
}
.portfolia-pic {
  height: auto;
  width: 100%;
  margin-top: 30px;
}
.port-img {
  height: auto;
  width: 100%;
  position: relative;
  object-fit: cover;
}
.portfolia-pic img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
/* .portfolia-pic img:hover{ */
/* border:1px solid white; */
/* background-color:white; */
/* padding:30px; */
/* } */
.portfolio-nav {
  display: flex;
  padding: 20px;
  justify-content: center;
  color: black;
}
.portfolio-nav a {
  text-decoration: none;
  padding-left: 20px;
  color: black;
  padding: 8px 20px;
  text-align: center;
}
.portfolio-nav a:hover {
  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 20px;
  background-color: #def0f7;
  border: none;
  padding: 8px 20px;
  text-align: center;
}
.portfolio-nav .nav1 {
  border: 1px solid var(--primary);
  border-radius: 20px;
  padding: 8px 20px;
  color: var(--primary);
  background-color: #def0f7;
  border: none;
  /* width:70px; */
}
.port-link {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 0;
  opacity: 0;
}
.port-icon {
  display: flex;
  gap: 10px;
}
.port-icon a {
  font-size: 25px;
  color: black;
}
.port-icon a:hover {
  color: var(--primary);
}
.portfolia-pic:hover .port-link {
  bottom: 20px;
  opacity: 1;
  transition: all 0.3s ease;
}
.port-link p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: var(--Secondary);
}
.port-link h4 {
  margin-bottom: 10px;
  font-family: "Raleway", sans-serif;
}
/*------------------portfolia section ends-------------------------------------*/

/*-------------team section starts---------------------------------*/
.team {
  background-color: #f8feff;
  padding: 60px 0;
}
.team-head {
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
}
.team-head h2 {
  margin-bottom: 20px;
  color: #635551;
  font-size: 32px;
}
.team-head p {
  line-height: 1.4;
}
.team-pictures {
  width: 100%;
  height: auto;
  padding-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px #ccc;
}
.team-pictures img {
  width: 100%;
  display: block;
  border-radius: 10px 10px 0 0;
}
.team-name {
  text-align: center;
}
.team-name h4 {
  margin-bottom: 10px;
  padding-top: 18px;
  font-family: "Raleway", sans-serif;
}

.team-pic {
  position: relative;
}
.team-name p {
  color: grey;
  font-size: 13px;
}
.team-pic-app {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  display: flex;
  justify-content: center;
  gap: 16px;
  background-color: rgba(255, 255, 255, 0.9);
}
.team-pic-app i {
  color: var(--Secondary);
}
.team-pictures:hover .team-pic-app {
  opacity: 1;
  padding: 10px;
  font-size: 20px;
}
.team-pic-app i:hover {
  color: var(--primary);
}

/*========pricing section start===========*/
.pricing {
  padding: 60px 0;
}
.pricing-head {
  text-align: center;
}
.pricing-head h2 {
  margin-bottom: 20px;
  letter-spacing: 1px;
  color: var(--Secondary);
}
.pricing-head p {
  margin-bottom: 20px;
  line-height: 1.3;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: var(--Secondary);
}
.price-pic {
  box-shadow: 0 0 5px #ccc;
  margin-top: 70px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.content h3 {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
  color: grey;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
}
.content {
  text-align: center;
}
.num2 {
  color: var(--primary);
  font-size: 30px;
}
.month {
  color: grey;
  font-size: 16px;
  font-weight: 400;
}
.content .con-h3 {
  background-color: var(--primary);
  color: white;
}
.grey {
  color: grey;
}
.sym {
  font-size: 20px;
  color: var(--primary);
}
.content h4 {
  font-size: 35px;
  margin-bottom: 25px;
  color: var(--primary);
}
.price-cont p {
  text-align: center;
  margin-bottom: 25px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
.buy {
  background-color: #f8f8f8;
  padding: 30px;
}
.buy a {
  background-color: var(--primary);
  color: white;
  padding: 10px 25px;
  text-align: center;
  border-radius: 10px;
  width: 120px;

  font-family: "Raleway", sans-serif;
  text-decoration: none;
}
.advance-pic {
  position: relative;
  overflow: hidden;
}
.advance {
  background-color: var(--primary);
  color: white;
  position: absolute;
  top: 20px;
  right: -50px;
  transform: rotate(45deg);
  padding: 4px 50px;
}

/*========pricing section end===========*/
.faq {
  background-color: #f8feff;
  padding: 60px 0;
}
.faq-head {
  text-align: center;
}
.faq-head p {
  line-height: 1.4;
  padding-top: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
.faq-head h3 {
  color: #635551;
  font-size: 32px;
}

.faq-ques {
  margin-top: 70px;
  padding-left: 70px;
}
.faq-ques a {
  text-decoration: none;
  color: black;
}
.faq-list .fa {
  padding: 8px;
  font-size: 25px;
  color: var(--primary);
  opacity: 0.4;
}
.faq-list li {
  padding: 10px;
}
.faq-li {
  background-color: white;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.faq-list {
  padding: 0px 100px 0px 40px;
}
.faq-li .las {
  margin-top: 14px;
}
/*===================faq section end===============*/

.contact {
  padding: 60px 0;
}
.contact-head {
  text-align: center;
}
.contact-head h2{
  color: #635551;
  font-size: 32px;
}
.contact-head p {
  padding-top: 20px;
  line-height: 1.3;
}
.contact-details {
  display: flex;
  margin-top: 50px;
  padding: 30px;
  box-shadow: 0 0 15px #ccc;
}
.contact-details p {
  padding-top: 10px;
  line-height: 1.4;
  padding-left: 20px;
  font-size: 13px;
  color: var(--Secondary);
}
.contact-details h3 {
  padding-left: 20px;
  color: #656262;
  font-family: "Raleway", sans-serif;
}
.contact-details i {
  /* position:absolute; */
  font-size: 22px;
  border: 1px dotted var(--primary);
  color: var(--primary);
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  height: 42px;
  width: 42px;
}
.contact1-info {
  box-shadow: 0 0 5px #ccc;
  max-width: 100%;
  margin-top: 50px;
  padding: 30px;
}
.name-email {
  width: 100%;
  display: flex;
  gap: 20px;
}
.name {
  width: 50%;
  padding: 10px;
  border: 1px solid #ae9e9e75;
}
.subject {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border: 1px solid #ae9e9e75;
}
.text-area {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border: 1px solid #ae9e9e75;
}
.msg {
  padding: 10px 15px;
  background-color: var(--primary);
  color: white;
  border: none;
  border: 1px solid #ae9e9e75;
}
.msg-button {
  display: flex;
  justify-content: center;
  margin-top: 14px;
}
.contact1-info input:focus,
.contact1-info textarea:focus {
  outline: none;
  border-color: var(--primary);
}

/*==================================contact section end==========================*/

.last-section {
  background-color: #f8feff;
  padding: 40px 0;
}
.last-list {
  margin-top: 50px;
}
.last-list .head {
  font-size: 26px;
  font-family: "Raleway", sans-serif;
}
.last-list:first-child p {
  line-height: 1.4;
  font-family: "Raleway", sans-serif;
}
.last-list p {
  padding-top: 5px;
}
.last-list h3 {
  padding: 20px 6px;
  font-family: "Raleway", sans-serif;
}
.last-list a {
  color: black;
  text-decoration: none;
}
.last-li {
  line-height: 2;
  padding-left: 6px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
.last-li .fa {
  font-size: 10px;
  padding: 10px;
  color: var(--primary);
}
/* .last-list .last-col{ */
/* padding-left:100px; */
/* } */

.last-list input {
  width: 75%;
  height: 100%;
  margin-top: 25px;
  border-radius: 20px 0 0 20px;
  border: 1px solid #ccc;
}
.last-list button {
  /* width:25%; */
  height: 100%;
  padding: 10px 20px;
  position: absolute;
  top: 25px;
  right: 40px;
  border-radius: 20px;
  border: none;
  background-color: var(--primary);
  color: white;
}
.text-btn {
  position: relative;
  width: 100%;
  height: 40px;
}

/*----------------------------footer section begins-------------------*/
.footer {
  padding: 30px 0px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
.footer p {
  padding-top: 10px;
}
.footer-icon {
  display: flex;
  justify-content: end;
  gap: 10px;
}
.footer .color {
  color: var(--primary);
}
.footer-icon .fa {
  color: white;
  border-radius: 50%;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  font-size: 16px;
  height: 36px;
  width: 36px;
  text-align: center;
  line-height: 35px;
}
.phone {
  font-weight: bold;
}
